
head {
   background-color: black;
  padding: 15px;
  text-align: center;
  margin: 15px;
        }





h1 {
  color: red;
  text-align: center;
  font-family: Times New Roman;
}


p {
  color: red;
  text-align: left;
    font-family: Times New Roman;

}

h3 {
  color: red;
  text-align: left;
    font-family: Times New Roman;

}


ul {
  color: red;
  text-align: left;
    font-family: Times New Roman;

}

li {
  color: red;
  text-align: left;
    font-family: Times New Roman;

}

a {
  color: green;
}


header {
  background-color: #ff007f;
  padding: 15px;
  text-align: center;
        }
header h2 {
  color: red;
  margin: 0;
        }


